<!DOCTYPE html>
    <html>
      <head>
          <title> <%= page_title %> </title>
      </head>
      <body>
        <div>
           <a href=/bands/>Bands</a>
        </div>
        <%- body %>
      </body>

</html>